body {
  background-image: url("background_1.jpg");
  
}
.mycard{
                background-color: rgba(255,255, 255, 1);
                height: 450px;
                position: absolute;             
                width: 40%;
                /*right: calc(50% - 50px);*/
                transition: .3s ease-in-out;
                z-index: 0;
                border-radius: 20px;
                /*background-color: #000;*/
                /*opacity:0.5;*/
                box-shadow: 0 0 10px 10px #DAA520;
             
}
 .big-checkbox {width: 20px; height: 20px;}